body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-wrapper {
  /* the box around ALL the cards */
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 50px;
}

.card-follower {
  /* space around each card */
  padding:10px;
  margin: 5px;
  border-top: solid pink;
}

.card-image{
  /* One image was too wide so I'm making all the images the same size */
  width: 200px;
  height: 200px;
  padding: 5px;
}
